html, body {
    height: 100vh;
    width: 100%;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    font-size: 14px;
}

.all {
    flex: 1;
    display:flex;
    flex-direction:column;
    min-height: 100vh;
    justify-content: center;
}

/* navbar */

.navContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding:6px;
    height: 48px;

}

.navContainer a {
    color: rgba(0,0,0,0.87);
}

.navContainer a:hover {
    text-decoration: underline;
}

.topLeft {
    margin-left: 15px;
}

.topLeft a {
    text-decoration: none;
    font-size: 14px;
    padding: 5px;
    margin: 0px 5px;
}


.topRight {
    display: flex;
    align-items: center;
}

.topRight a {
    vertical-align: middle;
    text-decoration: none;
    padding: 0 10px;
    font-size: 13px;
}

.apps-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 0px 0px;
}

.apps-icon:hover {
    width: 40px;
    height: 40px;
    background-color: rgb(230, 230, 230);
    border-radius: 50px;
}

.material-icons {
    font-family: 'Material Icons';
    font-size: 24px!important;
    text-decoration: none!important;
    -webkit-font-smoothing: antialiased;
    border-radius:0%;
}

.profile {
    width: 32px;
    border-radius: 50%;
    padding: 0px;
}

.profile:hover {
    box-shadow: 0px 0px 0px 4px rgb(230, 230, 230);
}

/* center */

.centerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.logo {
    width: 270px;
    margin-top: 10px;
    margin-bottom: 15px;
}

/* search */

.searchContainer {
    display:flex;
    flex-direction:row;
    align-items: center;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    height: 45px;
    max-width: 600px;
    width: 90%;
    margin-bottom: 20px;
}

.searchContainer:hover {
    box-shadow: 0px 2px 10px rgb(197, 197, 197);
}

.searchLogo svg {
    width:20px;
    height:20px;
    fill: rgb(163, 163, 163);
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 3px;
}

.inputArea {
    width: 100%;
    max-width: 600px;
}
.inp {
    width: 100%;
    border: none;
    font-size: 16px;
}

.inp:not(:hover), .inp:hover {
    outline:none;
}

.searchMic svg {
    width:24px;
    height:24px;
    padding: 0px 14px;
}

.buttons button{
    background-color: #f8f9fa;
    border: none;
    font-size: 14px;
    font-family: arial, sans-serif;
    padding-left: 16px;
    padding-right: 16px;
    height: 36px;
    margin: 11px 4px;
    border-radius: 4px;
}

.buttons button:hover {
    box-shadow: 0px 0px 0px 1px rgb(230, 230, 230), 0px 2px 3px 0px rgb(197, 197, 197);
}

/* footer */

.footerContainer {
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    height: 46px;
    padding-left: 20px;
    padding-right: 20px;
}

.footerContainer a {
    color: #70757a
}

.footerContainer a:hover {
    text-decoration: underline;
}


.footerLeft a {
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px;
}

.footerRight a {
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px;
}

@media (max-width: 650px) {
    .footerContainer {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        height: 80px;
    }

    .footerRight {
        margin: 10px;
    }

    .footerLeft {
        margin: 10px;
    }
}