html, body {
    height: 100vh;
    width: 100%;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    font-size: 14px;
}

.all {
    flex: 1;
    display:flex;
    flex-direction:column;
    min-height: 100vh;
    justify-content: center;

}

/* navbar */

.navContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding:6px;
    height: 60px;

}

.navContainer a {
    color: rgba(0,0,0,0.87);
}

.navContainer a:hover {
    text-decoration: underline;
}

.topLeft {
    margin-left: 15px;
}
.topLeft a {
    text-decoration: none;
    padding: 5px;

}

.topRight a {
    vertical-align: middle;
    text-decoration: none;
    padding-right: 10px;
    padding-left: 10px;
}



.Layer_1 {
    width: 17px;
    height: 17px;
    fill:#5f6368;
}

.profile {
    width: 32px;
    border-radius: 50%;

}

/* center */

.centerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.logo {
    width: 270px;
    margin-top: 10px;
    margin-bottom: 15px;

}

/* search */

.searchContainer {

    display:flex;
    flex-direction:row;
    align-items: center;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    height: 45px;
    max-width: 600px;
    width: 90%;
    margin-bottom: 20px;
    
}

.searchContainer:hover {
    box-shadow: 0px 0px 10px rgb(197, 197, 197);
}


.searchLogo svg {
    width:20px;
    height:20px;
    fill: rgb(163, 163, 163);
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 3px;

}

.inputArea {
    width: 100%;
    max-width: 600px;
}
.inp {
    width: 100%;
    border: none;
    font-size: 16px;
}

.inp:not(:hover), .inp:hover {
    outline:none;
}



.searchMic svg {
    width:22px;
    height:22px;
    margin-left: 10px;
    margin-right: 10px;

}

.buttons button{
    background-color: #f8f9fa;
    border: none;
    font-size: 14px;
    font-family: arial, sans-serif;
    padding: 10px;
    margin: 11px 4px;
    border-radius: 4px;
}

.buttons button:hover {
    box-shadow: 0px 0px 0px 1px rgb(230, 230, 230), 0px 2px 3px 0px rgb(197, 197, 197);
}





/* footer */

.footerContainer {
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    height: 40px;
}

.footerContainer a {
    color: #70757a
}

.footerContainer a:hover {
    text-decoration: underline;
}


.footerLeft a {
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px;

}

.footerRight a {
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px;

}

@media (max-width: 650px) {
    .footerContainer {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        height: 80px;
    }

    .footerRight {
        margin: 10px;
    }

    .footerLeft {
        margin: 10px;
    }
}